@{
    Layout = "~/Views/Shared/_Layout_modal.cshtml";
    ViewBag.SubTitle = "下级代理商管理";
    ViewBag.Title = "下级代理商重置密码";
}

<div class="modal-body">
    <p>是否确认重置该下级代理商密码？</p>
    <p>@ViewBag.Account</p>
</div>


@section modalFooter{
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" onclick="resetSubPassword()">确认</button>
    </div>
}

@section scripts{
    <script>
        var resetSubPassword = function () {
            $.post('ResetSubPassword/@ViewBag.Account', function (data) {
                if (data && data.state == 1) {
                    $('button.close').click();
                }
                else {
                    alert(data.msg);
                }
            });
        };


        $(function () {
            $('#addSubJoinBusinessForm').submit(function () {
                var $form = $(this);
                var $btn = $form.find('button').button('loading');

                $.post('Create', $form.serialize(), function (data) {
                    if (data && data.state == 1) {
                        $btn.html('添加成功');
                        $form[0].reset();
                        var isModal = '@ViewBag.isModal';
                        if (isModal == '1') {
                            $btn.button('reset');
                            $('button.close').click();
                            searchJoinBusinessListData();
                        }
                        else {
                            location.href = 'List';
                        }
                    }
                    else {
                        alert(data.msg);
                        $btn.button('reset');
                    }

                });

                return false;
            });
        });

    </script>
}
